@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
:root {
  --main-color: black;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
.section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  padding-top: 30px;
  padding-inline: 10px;
}
.card {
  display: flex;
  flex-basis: calc(100% / 4 - 60px);
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.card h3 {
  font-weight: 500;
  font-size: 1.4rem;
}
.menu {
  width: fit-content;
  cursor: pointer;
  width: 37px;
}
/* Start hamburger  */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.hamburger span {
  width: 100%;
  border: 2px solid var(--main-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
/* End hamburger */

/* Start kebab */
.kebab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.kebab span {
  background-color: var(--main-color);
  width: 8px;
  height: 8px;
  clip-path: circle(40%);
}
/* End kebab */

/* Start Candy Box */
.candybox {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
}
.candybox span {
  background-color: var(--main-color);
  width: 8px;
  height: 8px;
  clip-path: circle(40%);
}
/* End Candy Box */

/* Start chocolate */
.chocolate {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
}
.chocolate span {
  width: 6px;
  height: 6px;
  background-color: var(--main-color);
}
/* End chocolate */

/* Start Vegie Burger */
.vegieburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.vegieburger span {
  width: 100%;
  border: 2px solid var(--main-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
/* End Vegie Burger */

/* Start  Strawberry */
.strawberry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.strawberry span {
  width: 100%;
  border: 2px solid var(--main-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.strawberry span:nth-child(2) {
  width: 85%;
}
.strawberry span:last-child {
  width: 60%;
}
/* End Strawberry */

/* Start Fries */
.fries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.fries span {
  width: 100%;
  border: 2px solid var(--main-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.fries span:nth-child(2) {
  width: 70%;
  align-self: flex-end;
}

/* End Fries */

/* Start Stairs */
.stairs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.stairs span {
  width: 50%;
  border: 2px solid var(--main-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.stairs span:first-child {
  align-self: flex-end;
}
.stairs span:nth-child(2) {
  align-self: center;
}

/* End Stairs */

/* Start Cake */

.cake {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.cake span {
  width: 100%;
  border: 2px solid var(--main-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.cake span:first-child {
  background-color: var(--main-color);
  width: 8px;
  height: 8px;
  clip-path: circle(40%);
}
/* End Cake */